body {
  display: block;
  background-size: cover;
  text-align: center;
  margin: 0;
  background-image: url('https://pbs.twimg.com/media/FKATGrjXsAAkdpC.jpg:large');
  font-family: 'Black Ops One', cursive;
}

.container {
  justify-content: center;
  display: flex;
}

.btnforwindow {
  color: white;
}

#playagain {
  visibility: hidden;
  position: fixed;
  align-items: top;
  font-size: 2rem;
  min-height: 50px;
  min-width: 100px;
  color: black;
}

.row {
  display: flex;
  min-height: 250px;
  max-height: 250px;
  flex-direction: row;
}

#youlose {
  font-size: 2rem;
  color: white;
}

#row1 {
  display: flex;
  border-width: 0 0 1px 0;
  border-color: black;
}

#row2 {
  display: flex;
  border-width: 1px 1px 1px 1px;
  border-color: black;
}

.col1 {
  display: flex;
  flex: 1;
  border-width: 0 1px 0 0px;
  border-color: black;

  margin: 0;
  align-items: center;
  justify-content: center;
}

.col2 {
  display: flex;
  flex: 1;
  border-width: 0 1px 0 1px;
  border-color: black;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.col3 {
  display: flex;
  flex: 1;
  border-width: 0 0px 0 1px;
  border-color: black;
  align-items: center;
  justify-content: center;
}
#box1 {
  background-image: url('https://m.media-amazon.com/images/I/51fyNbNkKNL._AC_SY580_.jpg');
  background-size: contain;
  visibility: hidden;
  background-repeat: no-repeat;
}
#box2 {
  background-image: url('https://static-7.studiobebop.net/ygo_data/card_variants/LDK2-ENY04.jpg');
  background-size: contain;
  visibility: hidden;
  background-repeat: no-repeat;
}
s #box3 {
  background-image: url('https://ygoprodeck.com/cdn-cgi/image/format=auto,width=313/https://images.ygoprodeck.com/images/cards/7902349.jpg');
  background-size: contain;
  visibility: hidden;
  background-repeat: no-repeat;
}
#box4 {
  background-image: url('https://ygoprodeck.com/cdn-cgi/image/format=auto,width=313/https://images.ygoprodeck.com/images/cards/8124921.jpg');
  background-size: contain;
  visibility: hidden;
  background-repeat: no-repeat;
}

#boxcount {
  color: white;
  font-size: 4rem;
}

#box5 {
  background-image: url('https://ygoprodeck.com/cdn-cgi/image/format=auto,width=313/https://images.ygoprodeck.com/images/cards/44519536.jpg');
  background-size: contain;
  visibility: hidden;
  background-repeat: no-repeat;
}

.game {
  display: flex;
  justify-content: stretch;
  min-width: 100vw;
  border: 2px;
  background-color: purple;
}

.display {
  display: flex;
  justify-content: center;
  min-height: 500px;
  /* background-color: pink; */
  min-width: 500px;
  flex-direction: column;
}

label {
  color: white;
}

#board {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 50px;
  max-height: 100px;
  /* background-color: white; */
  color: white;
  justify-content: center;
  align-items: stretch;
}

.typing {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  min-width: 100px;
  max-width: 600px;
  justify-content: center;
  text-align: center;
}

h1 {
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white;
}
